
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #b11a1a;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper {
  background: #ffffff;
}
/* --- page title wrapper --*/
#page-title-wrapper, #banner-area {
  /*background: rgba(231, 231, 231, 0.4)  no-repeat top center; 
  border-bottom: 1px solid rgba(234, 234, 234, 1); */
  background-color: #f5f5f5;
  background-image: url(/drupal/sites/all/themes/classic/images/grid_masked_dark.png);
  background-repeat: no-repeat;
  background-position: center top;
  border-bottom: 1px solid #eaeaea;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
a {
  color: #3b3b3b;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #a0ce4e;
  text-decoration: none;
}
a:active, a.selected {
  color: #a0ce4e;
}
h1, h2, h3, h4, h5, h6 {
  color: #3b3b3b;
}
#top-bar {
  background: #a0ce4e;
  color: #ffffff;
}
#top-bar a {
  color: #ffffff;
}
#navigation .selector {
  color: #ffffff;
  background-color: #a0ce4e;
  background-image: url(/drupal/sites/all/themes/classic/images/responsive-nav.png);
  background-repeat: no-repeat;
  background-position: right center;
}
#navigation .selector option {
  background: #ffffff;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #eaeaea;
}
#highlighted .block {
  /*background: rgba(234, 234, 234, 0.5) url(/drupal/sites/all/themes/classic/images/banner-shadow.png) no-repeat top center; */
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  text-shadow: 1px 1px #ffffff;
  background-color: #f4f4f4;
  background-image: url(/drupal/sites/all/themes/classic/images/banner-shadow.png);
  background-repeat: no-repeat;
  background-position: top center;
}
#footer-columns-wrapper {
  /*background-color: rgba(59, 59, 59, 1);*/
  background-color: #363839;
  background-image: url(/drupal/sites/all/themes/classic/images/grid_masked_dark.png);
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 5px solid #eaeaea;
}
#page-wrapper,
#footer-wrapper {
  background: #282a2b;
}

#footer-columns, #footer {
  color: rgba(255, 255, 255, 0.6);
  color: #8c8989;
}
#footer-columns a, #footer a,
#footer-columns h1, #footer-columns h2, #footer-columns h3, #footer-columns h4, #footer-columns h5, #footer-columns h6 {
  color: rgba(255, 255, 255, 0.9);
  color: #b3bfbf;
}
#footer-columns a:hover,
#footer-columns a:focus, 
#footer a:hover, #footer a:focus {
  color: #a0ce4e;
}

#main-menu ul.menu a {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#main-menu ul.menu a:hover,
#main-menu ul.menu a:focus,
#main-menu ul.menu a:active,
#main-menu ul.menu li a.active,
#main-menu ul.menu li a.active-trail {
  color: #a0ce4e;
}
#main-menu ul.menu ul {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #eaeaea;
}
#main-menu ul.menu ul li.first {
  /*background:  url(/drupal/sites/all/themes/classic/images/up-aero.png) no-repeat 15px top;*/
  background-image: url(/drupal/sites/all/themes/classic/images/up-aero.png);
  background-repeat: no-repeat;
  background-position: 15px top;
  padding-top: 10px;
  margin-top: -10px;
}
#main-menu ul.menu ul li a {
  border: 0;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #eaeaea;
}
#main-menu ul.menu ul ul li.first {
  background: none;
}

/* ---- Navigation select box selector ----- */
#navigation .selector option:hover {
 background: #a0ce4e;
}

footer.link-wrapper {
  border-left: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
  background: rgba(234, 234, 234, 0.5);
}

/* ----- blockquote -----*/
blockquote, .info-box {
  border-left: 3px solid #a0ce4e;
  background: rgba(234, 234, 234, 0.7);
}

/* -------------- Pager ------------- */
.item-list .pager li.pager-item a{
  border: 1px solid #cccccc;
  color: #ffffff;
  background: #a0ce4e;
}
.item-list .pager li.pager-current {
  border: 1px solid #cccccc;
}
/* -------- jquery accordion and tabs ------- */
.jquery-ui-filter-tabs ul.ui-tabs-nav li.ui-tabs-selected, .block-quicktabs .quicktabs-wrapper ul.quicktabs-tabs li.active a{
  border-top: 2px solid #a0ce4e;
}
/* --- follow links ---*/
#main .follow-links a {
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #a0ce4e;
  opacity: 1;
}
#main .follow-links a:hover {
  opacity: 0.5;
}
body.page-node-lightbox2 #main .node-team-member .follow-links a {
  margin-right: 2px;
  width: 25px;
  height: 25px;
}
 
/* -------- isotope grid -------- */
.isotope-element {
  color: #b11a1a;
}
.isotope-element a {
  color: #3b3b3b !important;
}
.image, .image a, .isotope-element .image a,
.image h3, .image h4, .image h5, .image h6 {
  color: #ffffff !important;
}
/* ----- image hover animation ------*/
.image .image-hover {
  background-color: #a0ce4e;
}

/* ------ skill bar -------- */
.skillbar .skill-percentage{
  background-color: #a0ce4e;
}

/* ------ back to top -------- */
#baaaccktotop:hover {
  background-color: #a0ce4e;
}

/* ---- dropcaps ---- */
.dropcap {
  color: #a0ce4e;
}
.dropcap.circle {
  background: #a0ce4e;
}
.dropcap.square {
  background: #a0ce4e;
}

/*  --- hightlight button ---- */
#highlighted .button, .region-featured .button, .info-box .button {
  background-color: #a0ce4e;
  border-color: #f89405 #f89405 #ad6603;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  text-shadow: 0 1px .01em rgba(255,255,255,0.7);
}

/*------- pricing tables ------- */
.pricing-tables ul.package.recommended li.package-name,
.pricing-tables ul.package.recommended li.package-name div,
.pricing-tables ul.package.recommended li.package-price {
  background-color: #a0ce4e;
}

/* ---- text highlights --- */
.highlight {
  background-color: #a0ce4e;
  color: #ffffff;
}

/* ----- selected text -------- */
::-moz-selection{ background: #a0ce4e; color: #ffffff; text-shadow: none; }
::selection { background: #a0ce4e; color: #ffffff; text-shadow: none; } 


/* ------ list styles --------- */
ul.arrow li {
  list-style-image: url(arrow1.png);
}
ul.arrow2 li {
  list-style-image: url(arrow2.png);
}
ul.arrow3 li {
  list-style-image: url(arrow3.png);
}
ul.arrow4 li {
  list-style-image: url(arrow4.png);
}
ul.plus li {
  list-style-image: url(plus.png);
}
ul.pen li {
  list-style-image: url(pen.png);
}
ul.star li {
  list-style-image: url(star.png);
}
ul.check li {
  list-style-image: url(ok.png);
}
ul.cross li {
  list-style-image: url(cross.png);
}
ul.disc li {
  list-style-image: url(disc.png);
}
ul.bookmark li {
  list-style-image: url(bookmark.png);
}
ul.download li {
  list-style-image: url(download.png);
}



/*******************************************************************
*                                        *
*******************************************************************/
#featured {
  border-bottom: 1px solid #eaeaea;
  text-shadow: 1px 1px #fff;
  /*background: rgba(234, 234, 234, 0.2) url(/drupal/sites/all/themes/classic/images/banner-shadow.png) no-repeat top center;*/
  background-color: #fbfbfb;
  background-image: url(/drupal/sites/all/themes/classic/images/banner-shadow.png);
  background-repeat: no-repeat;
  background-position: top center;
}